body{
  background-image: url(p7.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}
delete{
  width: 360px;
  padding: 10% 0 0;
  margin: auto;

}
input{
  margin: 30px 10px 10px;
  display: inline-block;
  width: 200px;
  min-height: 15px;
  height: auto;
  padding: 5px 15px;
}
